<?xml version="1.0"?>
<!--
/**
 * Webkul_Grid Menu
 *
 * @category    Webkul
 * @package     Webkul_Grid
 * @author      Webkul Software Private Limited
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Vivek_CodilarProject::manager" title="Slot" module="Vivek_CodilarProject" sortOrder="10" resource="Vivek_CodilarProject::manager"/>
        <add id="Vivek_CodilarProject::add_row" title="sub menu" module="Vivek_CodilarProject" sortOrder="20" parent="Vivek_CodilarProject::manager" action="slot/slot" resource="Vivek_CodilarProject::add_row"/>
    </menu>
</config>
