<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog_price_decimal>
            <general>
                <enable>1</enable>
                <can_show_decimal>0</can_show_decimal>
                <price_precision>2</price_precision>
            </general>
        </catalog_price_decimal>
    </default>
</config>